<h2 class="title-admin">Dashboard Administrateur</h2>
<div class="wrapper">
  <input class="radio" id="one" name="group" type="radio" checked>
  <input class="radio" id="two" name="group" type="radio">
  <input class="radio" id="three" name="group" type="radio">
  <input class="radio" id="four" name="group" type="radio">
  <input class="radio" id="five" name="group" type="radio">
  <input class="radio" id="six" name="group" type="radio">
  <input class="radio" id="seven" name="group" type="radio">
  <div class="tabs">
    <label class="tab" id="one-tab" for="one">Envoyer de l'xp</label>
    <label class="tab" id="two-tab" for="two">Parc</label>
    <label class="tab" id="three-tab" for="three">Attractions</label>
    <label class="tab" id="four-tab" for="four">Actualités</label>
    <label class="tab" id="five-tab" for="five">Produits</label>
    <label class="tab" id="six-tab" for="six">Avatars</label>
    <label class="tab" id="seven-tab" for="seven">Utilisateurs</label>
  </div>
  <div class="panels">
    <div class="panel" id="one-panel">

      <h2>Accumuler l'xp des participants</h2>

      <%= form_tag("/users/add_participant", method: "post") do %>

        <div class="content-input">
          <%= label_tag(:xp, "Quantité d'expérience à envoyer") %>
          <%= text_field_tag(:xp) %>
        </div>

        <div class="content-input">
          <%= label_tag(:identifiant, "Identifiant de l'utilisateur") %>
          <%= text_field_tag(:identifiant) %>
        </div>

        <%= submit_tag("Envoyer les points", :class => 'btn') %>
      <% end %>

    </div>
    <div class="panel" id="two-panel">
      <h2>Informations du parc</h2>

      <table class="admin">
        <thead>
          <tr>
            <th>Horaires de Lundi à Jeudi</th>
            <th>Horaires de Vendredi à Samedi</th>
            <th>Horaires du Dimanche</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
            <tr>
              <td><%= @park.first_part_schedules %></td>
              <td><%= @park.second_part_schedules %></td>
              <td><%= @park.last_part_schedules %></td>
              <td>
              <%= link_to 'Modifier', edit_park_path(@park.id) %>
              </td>
            </tr>
        </tbody>
      </table>

    </div>
    <div class="panel" id="three-panel">
      <h2>Informations des attractions</h2>

        <table class="admin">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Points d'expériences</th>
              <th>Conditions</th>
              <th>Description</th>
              <th>Video de presentation</th>
              <th>Image</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @attractions.each do |attraction| %>
              <tr>
                <td><%= attraction.name %></td>
                <td><%= attraction.experience_points %></td>
                <td><%= attraction.conditions %></td>
                <td><%= attraction.description %></td>
                <td><%= attraction.video_presentation %></td>
                <td>
                  <% if attraction.pictures.attached? %>
                    <%= image_tag(attraction.pictures[0], :style => "width: 100px") %>
                  <% end %>
                </td>
                <td><%= link_to 'Show', attraction %></td>
                <td><%= link_to 'Edit', edit_attraction_path(attraction) %></td>
                <td><%= link_to 'Destroy', attraction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to new_attraction_path, :class => "btn" do %>
          Ajoutez une attraction
        <% end %>

      </div>
      <div class="panel" id="four-panel">
          <h2>Informations des actualités</h2>

        <table class="admin">
          <thead>
            <tr>
              <th>Titre</th>
              <th>Sous titre</th>
              <th>Description</th>
              <th>Image</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @news.each do |news| %>
              <tr>
                <td><%= news.title %></td>
                <td><%= news.subtitle %></td>
                <td><%= news.description %></td>
                <td>
                  <% if news.picture.attached? %>
                    <%= image_tag(news.picture, :style => "width: 100px") %>
                  <% end %>
                </td>
                <td><%= link_to 'Show', news %></td>
                <td><%= link_to 'Edit', edit_news_path(news) %></td>
                <td><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= link_to new_news_path, :class => "btn" do %>
          Ajoutez une actualite
        <% end %>
      </div>
      <div class="panel" id="five-panel">
          <h2>Informations des produits</h2>

        <table class="admin">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Description</th>
              <th>Prix unitaire hors taxe</th>
              <th>Prix unitaire TTC</th>
              <th>TVA</th>
              <th>Image</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @items.each do |items| %>
              <tr>
                <td><%= items.name %></td>
                <td><%= items.description %></td>
                <td><%= items.unit_price_ht %></td>
                <td><%= items.unit_price_ttc %></td>
                <td><%= items.tva %></td>
                <td>
                  <% if items.picture.attached? %>
                    <%= image_tag(items.picture, :style => "width: 100px") %>
                  <% end %>
                </td>
                <td><%= link_to 'Show', items %></td>
                <td><%= link_to 'Edit', edit_item_path(items) %></td>
                <td><%= link_to 'Destroy', items, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= link_to new_item_path, :class => "btn" do %>
          Ajoutez un produit
        <% end %>

      </div>
      <div class="panel" id="six-panel">
        <h2>Informations des avatars</h2>

        <table class="admin">
          <thead>
            <tr>
              <th>Url</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @avatars.each do |avatar| %>
              <tr>
                <td><%= avatar.url %></td>
                <td><%= link_to 'Edit', edit_avatar_path(avatar) %></td>
                <td><%= link_to 'Destroy', avatar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= link_to new_avatar_path, :class => "btn" do %>
          Ajoutez un avatar
        <% end %>

      </div>
      <div class="panel" id="seven-panel">
          <h2>Informations des utilisateurs</h2>

        <table class="admin">
          <thead>
            <tr>
              <th>Email</th>
              <th>Identifiant</th>
              <th>xp</th>
              <th>Prenom</th>
              <th>Nom</th>
              <th>Ville</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.email %></td>
                <td><%= user.identifiant %></td>
                <td><%= user.xp %></td>
                <td><%= user.last_name %></td>
                <td><%= user.first_name %></td>
                <td><%= user.city %></td>
                <td><%= link_to "Destroy", admin_destroy_user_path(user), method: :delete, data: { confirm: "You sure?" } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>
