Mon compte :

<%= current_user.identifiant %>
<%= current_user.xp %>
<div>
<br> 
  avatar_id :<%= current_user.avatar_id %>
</div>

<div>
  <%= link_to 'Modifier mon compte', edit_user_registration_path %>
</div>

<div>
  <img src=<%= @avatars.find(current_user.avatar_id).url %> alt="" style="height: 100px">

</div>

<div>

  nombre d'xp
</div>
<br>
<br>
<br>
<%= form_for(@user) do |f| %>

  <select name="avatar_id" id="avatar_id">
    <% @avatars.each do |avatar| %>
      <option value=<%= avatar.id %>><%= avatar.url %></option>
    <% end %>
  </select>

  <%= f.submit %>
<% end %>
