<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @news.subtitle %>
</p>

<p>
  <strong>Description:</strong>
  <%= @news.description %>
</p>


<p>
  <strong>Image:</strong>
  <% if @news.picture.attached? %>
    <%= image_tag(@news.picture, :style => "width: 100px") %>
  <% end %>
</p>

