<h1>Carts#show</h1>
<p>Find me in app/views/carts/show.html.erb</p>



<% @order_items.each do |item| %>

    <h3><%= item.item.name %></h3>
    <h5><%= item.item.unit_price_ht %></h5>

    <%= form_for item, remote: true do |f| %>

        <%= f.hidden_field :item_id, :value => item.item.id %>
        <%= f.number_field :quantity, :value => item.quantity.to_i %>
        <%= f.submit "Mettre à jour le panier" %>

        <%= link_to "Retirer du panier", order_item_path(item), method: :delete, remote: true%>

    <% end %>
    <h2>Subtotal: <%= item.total %></h2>

<% end %>

<h3>Your current cart value has a subtotal of: <%= current_order.subtotal %></h3>

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id='error_explanation'>
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>
  <% if current_order.subtotal > 0%>
    <script src='https://checkout.stripe.com/checkout.js' class='stripe-button'
          data-key='<%= Rails.configuration.stripe[:publishable_key] %>'
          data-description='Payez votre commande'
          data-email="test@test.com"
          data-currency= 'eur',
          data-amount=<%=  current_order.subtotal * 100 %>
          data-label="Confirmer ma commande"
          data-locale='auto'>
          </script>
  <% end %>
<% end %>