<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :unit_price_ht %>
    <%= form.text_field :unit_price_ht %>
  </div>

  <div class="field">
    <%= form.label :unit_price_tva %>
    <%= form.text_field :unit_price_tva %>
  </div>

  <div class="field">
    <%= form.label :unit_price_ttc %>
    <%= form.text_field :unit_price_ttc %>
  </div>

  <div class="field">
    <%= form.label :tva %>
    <%= form.number_field :tva %>
  </div>

  <div class="field"> 
    <%= form.label :picture %>
    <%= file_field_tag :picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
