<section>
    <div class="page-header">
      <h1>Decouvrez la nouvelle generation des parcs d’attractions</h1>
    </div>
  </section>
  <section>
    <div class="container-login">
      <h2>Ajouter un produit</h2>
      <div class="content-login">
        <div class="line-extrem-left"></div>
        <div class="line-left"></div>
        <p>
          Ajoutez un produit sur le site web pour permettre aux utilisateurs de profiter du park même à distance.
        </p>
      </div>
    </div>
    <%= form_with(model: item, local: true, multipart: true) do |form| %>
      <div class="container-form">
        <% if item.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

            <ul>
              <% item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="content-input">
          <%= form.label :name %>
          <%= form.text_field :name %>
        </div>

        <div class="content-input">
          <%= form.label :description %>
          <%= form.text_field :description %>
        </div>

        <div class="content-input">
          <%= form.label :unit_price_ht %>
          <%= form.text_field :unit_price_ht %>
        </div>

        <div class="content-input">
          <%= form.label :unit_price_ttc %>
          <%= form.text_field :unit_price_ttc %>
        </div>

        <div class="content-input">
          <%= form.label :tva %>
          <%= form.number_field :tva %>
        </div>

        <div class="content-input"> 
          <%= form.label :picture %>
          <%= form.file_field :picture %>
        </div>

        <div class="content-input">
          <%= form.submit %>
        </div>
      </div>
    <% end %>
  </section>



