
<div class="header-background-shop">
    <h1>Notre boutique</h1>
  </div>
  <section>
    <div class="container-shop">
      <% @items.each do |item| %>
        <div class="key-shop">
          <% if item.picture.attached? %>
            <%= image_tag(item.picture, :class => "key-ring") %>
          <% end %>
          <h2><%= item.name %></h2>
          <p><%= item.unit_price_ht %></p>

          <%= link_to item_path(item) do %>
            En savoir plus
          <% end %>

          <%= form_for @order_item, remote: true  do |f|%>
            <%= f.hidden_field :item_id, :value => item.id %>
            <%= f.number_field :quantity, :value => 1, :min => 1, class: 'number-item-show' %>
            <%= f.submit "Ajouter au panier", class: 'btn' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>

<!--

<p id="notice"><%= notice %></p>

 -->