<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Unit price ht:</strong>
  <%= @item.unit_price_ht %>
</p>

<p>
  <strong>Unit price ttc:</strong>
  <%= @item.unit_price_ttc %>
</p>

<p>
  <strong>Tva:</strong>
  <%= @item.tva %>
</p>

<p>
  <strong>Tva:</strong>
  <%= image_tag(@item.picture) if @item.picture.attached? %>
</p>


<div>
  <strong>Image:</strong>
  <%# <%= image_tag(@item.picture, style:"width: 50px") %>
</div>

<%= link_to 'Back', items_path %>
