<div class="container-product">
  <div class="content-product">
    <% if @item.picture.attached? %>
      <%= image_tag(@item.picture, :class => "key-product") %>
    <% end %>
  </div> 
    <div class="product-text">
      <h1><%= @item.name %></h1>
      <p class="description">Description:</p>
      <p class="content-description"><%= @item.description %></p>
    <div class="input-content"> 
      <p class="description">Quantité:</p>
      <%= form_for @order_item, remote: true  do |f|%>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.number_field :quantity, :value => 1, :min => 1, class: 'number' %> <br>
            <%= f.submit "Ajouter au panier", class: 'btn' %>
          <% end %>
    </div>
  </div>
</div>

<!-- 

<p id="notice"><%= notice %></p>
-->