
<header>
  <nav>
    <%= link_to root_path, class: "logo link" do %>
      <%= image_tag "logo-gamezone.png" %>
    <% end %>

    <%= link_to t('global.menu.attractions'), attractions_path, class: 'link' %>
    <%= link_to t('global.menu.plan'), static_pages_park_plan_path, class: 'link' %>
    <div class="link menu-wrapper">
      <span>
      <%= t('global.menu.visite') %>
      <i class="menu-arrow"></i>
      </span>
      <div class="menu">
        <%= link_to t('global.menu.go_to_the_park'), static_pages_go_to_the_park_path, class: 'menu-item link' %>
        <%= link_to t('global.menu.pricings'), static_pages_pricings_path, class: 'menu-item link' %>
        <%= link_to t('global.menu.calendar'), static_pages_calendar_path, class: 'menu-item link' %>
      </div>
    </div>
    <%= link_to t('global.menu.shop'), items_path, class: 'link' %>
    <%= link_to t('global.menu.game'), static_pages_my_game_path, class: 'link' %>
    <%= link_to t('global.menu.contact'), static_pages_contact_path, class: 'link' %>
    
    <div class="account-wrapper mr-2">
      <div class="mr-2">
        <%= link_to carts_path do %>
          <%= image_tag "cart.png", class: 'cart' %>
          <%= current_order.order_items.size %>
        <% end %>
      </div>

    <% if current_user %>
    <div class="link menu-wrapper mr-2">
      <span>
        <% if current_user.xp < 500 %>
          <%= image_tag "medails/bronze.png", class: 'medail' %>
        <% elsif current_user.xp >= 500 && current_user.xp < 1000 %>
          <%= image_tag "medails/argent.png", class: 'medail' %>
        <% elsif current_user.xp >= 1000 && current_user.xp < 2500 %>
          <%= image_tag "medails/or.png", class: 'medail' %>
        <% else %>
          <%= image_tag "medails/platine.png", class: 'medail' %>
        <% end %>
        <img src=<%= Avatar.find(current_user.avatar_id).url %> alt="Avatar de l'utilisateur" class="nav-avatar">
        <div class="identifiant"><%= current_user.identifiant %></div>
        <div><%= current_user.xp %></div>
        <i class="menu-arrow"></i>
      </span>
      <div class="menu">
        <%= link_to t('global.menu.admin'), users_dashboard_admin_path, :class => "menu-item link"  %>
        <%= link_to t('global.menu.profil'), user_path(current_user), :class => "menu-item link"  %>
        <%= link_to t('global.menu.logout'), destroy_user_session_path, method: :delete, :class => "menu-item link"  %>
      </div>
    </div>
    <% end %>

    <% if !current_user %>
    <div class="link menu-wrapper">
      <span>
        Se connecter / S'inscrire
        <i class="menu-arrow"></i>
      </span>
      <div class="menu">
        <%= link_to t('global.menu.login'), new_user_session_path, class: 'menu-item link' %>
        <%= link_to t('global.menu.signup'), new_user_registration_path, class: 'menu-item link' %>
      </div>
    </div>
    <% end %>

    <div class="languages">
        <%= link_to root_path(locale: :fr) do %>
          <%= image_tag "france.png", alt: 'France' %>
        <% end %>
        <%= link_to root_path(locale: :es) do %>
          <%= image_tag "spain.png", alt: 'Espagne' %>
        <% end %>
        <%= link_to root_path(locale: :en) do %>
          <%= image_tag "united-kingdom.png", alt: 'Uk' %>
        <% end %>
      </div>
      <a class="hamburger" href="#"><%= image_tag "hamburger_icon.png", alt: 'Icon burger' %></a>
    </div>

    <!-- nav mobile -->
    <div class="content-mobile">
      <li>
       <%= link_to t('global.menu.attractions'), attractions_path, class: 'link-mobile' %><br>
      </li>
      <li>
        <%= link_to t('global.menu.plan'), static_pages_park_plan_path, class: 'link-mobile' %><br>
      </li>
      <li>
        <%= link_to t('global.menu.go_to_the_park'), static_pages_park_plan_path, class: 'link-mobile' %><br>
      </li>
      <li>
        <%= link_to t('global.menu.pricings'), static_pages_pricings_path, class: 'link-mobile' %><br>
      </li>
      <li>
        <%= link_to t('global.menu.calendar'), static_pages_calendar_path, class: 'link-mobile' %><br>
      </li>
      <li>
        <%= link_to t('global.menu.shop'), items_path, class: 'link-mobile' %><br>
      </li>
      <li>
        <%= link_to t('global.menu.game'), static_pages_my_game_path, class: 'link-mobile' %><br>
      </li>
      <li>
        <%= link_to t('global.menu.contact'), static_pages_contact_path, class: 'link-mobile' %>
      </li>
    </div>  
    
    </div> 
  </nav>
</header>

    
    