<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "GamZone", root_path, class: "navbar-brand" %> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <div class="nav-link"><%= link_to t('global.menu.park'), park_path(Park.all.first) %> </div>
        </li>

        <li class="nav-item">
          <div class="nav-link"><%= link_to t('global.menu.attractions'), attractions_path %> </div>
        </li>

        <li class="nav-item">
          <div class="nav-link"><%= link_to t('global.menu.plan'), static_pages_park_plan_path %></div>
        </li>
        
        <li class="nav-item">
          <div class="nav-link"><%= link_to t('global.menu.visite'), static_pages_visit_preparation_path %></div>
        </li>

        <li class="nav-item">
          <div class="nav-link"><%= link_to t('global.menu.game'), static_pages_my_game_path %></div>
        </li>

        <li class="nav-item">
          <div class="nav-link"><%= link_to t('global.menu.contact'), static_pages_contact_path %></div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Footer
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <div class="dropdown-item"><%= link_to "Mentions légales", static_pages_legal_notice_path %></div>
            <div class="dropdown-item"><%= link_to "CGU-CGV", static_pages_cgu_cgv_path %></div>
          </div> 
        </li>

        <li class="nav-item dropdown">
          <%= link_to 'English', root_path(locale: :en) %>
          <%= link_to 'Spain', root_path(locale: :es) %>
          <%= link_to 'Français', root_path(locale: :fr) %>
        </li>
      </ul>
      
      <ul class="navbar-nav right">
        <% if current_user %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.identifiant %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <div class="nav-link"><%= link_to t('global.menu.logout'), destroy_user_session_path, method: :delete, :class => "dropdown-item"  %></div>
                <div class="dropdown-item"> 
                  <% if current_user.is_admin %>
                    <div class="dropdown-item"><%= link_to t('global.menu.admin'), users_dashboard_admin_path, class: "dropdown-item" %> </div>
                  <% end %>
                  </div>
                  <div class="dropdown-item"> 
                    <%= link_to t('global.menu.profil'), user_path(current_user.id), class: "dropdown-item" %>
                  </div>
              </div>
            </div> 
          </li>
        <% end %>

        <% if !current_user %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Se connecter / S'inscrire
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <div class="dropdown-item"><%= link_to t('global.menu.login'), new_user_session_path %></div>
              <div class="dropdown-item"> <%= link_to t('global.menu.logout'), new_user_registration_path %> </div>
            </div> 
          </li>

          <% end %>

      </ul>
    </div>
  </div>
</nav>