<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>GameZone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta description="GAME ZONE. Ce dernier sera le premier parc d’attraction au monde entièrement dédié à l’univers des jeux-vidéo">

    <meta name="keywords" content="GAME, game,ZONE,zone,GAME ZONE,game zone,BATTLE KART VR,FORTNITE ADVENTURE,PUBG SURVIVOR,GEEK,CYBERCENTER,GEEK CYBERCENTER,Contagion VR,Battle Kart,Champions League Survivor,Super Fighter League,Fighter Hard Team,parc,parc d’attraction,attractions,jeux-video">

    <%= favicon_link_tag asset_path('favicon.png') %> 

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%# <%= render 'layouts/flash' %> 
    <%= yield %>
    <%= render "layouts/footer" %> 
  </body>
</html>
