<p id="notice"><%= notice %></p>

<h1>Attractions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Experience points</th>
      <th>Maximum size</th>
      <th>Description</th>
      <th>Video presentation</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attractions.each do |attraction| %>
      <tr>
        <td><%= attraction.name %></td>
        <td><%= attraction.experience_points %></td>
        <td><%= attraction.maximum_size %></td>
        <td><%= attraction.description %></td>
        <td><%= attraction.video_presentation %></td>
        <td>
          <% if attraction.picture.attached? %>
            <%= image_tag(attraction.picture, :style => "width: 100px") %>
          <% end %>
        </td>
        <td><%= link_to 'Show', attraction %></td>
      </tr>
    <% end %>
  </tbody>
</table>

