<p id="notice"><%= notice %></p>

<h1>Attractions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Experience points</th>
      <th>Maximum size</th>
      <th>Description</th>
      <th>Video presentation</th>
      <th>Park</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attractions.each do |attraction| %>
      <tr>
        <td><%= attraction.name %></td>
        <td><%= attraction.experience_points %></td>
        <td><%= attraction.maximum_size %></td>
        <td><%= attraction.description %></td>
        <td><%= attraction.video_presentation %></td>
        <td><%= attraction.park_id %></td>
        <td><%= link_to 'Show', attraction %></td>
        <td><%= link_to 'Edit', edit_attraction_path(attraction) %></td>
        <td><%= link_to 'Destroy', attraction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attraction', new_attraction_path %>
