<section>
    <div class="page-header">
      <h1>Decouvrez la nouvelle generation des parcs d’attractions</h1>
    </div>
  </section>
  <section>
    <div class="container-login">
      <h2>Ajoutez une attraction</h2>
      <div class="content-login">
        <div class="line-extrem-left"></div>
        <div class="line-left"></div>
        <p>
          Créer une attraction en renseignant les informations suivantes.
        </p>
      </div>
    </div>
    <%= form_with(model: @attraction, local: true) do |form| %>
    <div class="container-form">
      <% if @attraction.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@attraction.errors.count, "error") %> prohibited this attraction from being saved:</h2>

          <ul>
            <% @attraction.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="content-input">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class="content-input">
        <%= form.label :experience_points %>
        <%= form.number_field :experience_points %>
      </div>

      <div class="content-input">
        <%= form.label :conditions %>
        <%= form.number_field :conditions %>
      </div>

      <div class="content-input">
        <%= form.label :description %>
        <%= form.text_area :description %>
      </div>

      <div class="content-input">
        <%= form.label :video_presentation %>
        <%= form.text_field :video_presentation %>
      </div>

      <div class="content-input"> 
        <%= form.label :pictures %>
        <%= form.file_field :pictures, :multiple => true %>
      </div>

      <div class="content-input">
        <%= form.submit %>
      </div>
    </div>
    <% end %>
  </section>