
<section>
  <div class="container-background">
    <div class="container-background-attraction">
      <%= image_tag "background-fighter-league.png", class: 'background-attraction' %>
      <%= image_tag(@attraction.pictures[0], class: 'icon-attraction') %>
    </div>
    <div class="containe-game">
      <div class="content-description">
        <h1 class="title-game-center"><%= @attraction.name %></h1>
        <h2 class="experience"><span>Gain XP : <%= @attraction.experience_points %> XP / partie</span><br> 
          <%= @attraction.conditions %></h2>
          <p class="content-text">
            <%= @attraction.description %>
          </p>
          <%= link_to static_pages_go_to_the_park_path, :class => "btn" do %>
            Preparer votre visite
          <% end %>
      </div>
      <div class="container-picture">
        <%= image_tag(@attraction.pictures[1]) %>
      </div>
    </div>

    <% if @attraction.video_presentation != '' %>
      <div class="attraction-video-wrapper">
        <div class="attraction-video-title-container">
          <h2 class="attraction-video-title yellow-highlight">
            PREPAREZ VOUS,<br />
            A TRAVERS UNE VIDEO DE PRESENTATION
          </h2>
        </div>

        <div class="youtube-video-container">
          <iframe
            class="attraction-youtube-video"
            src="<%= @attraction.video_presentation %>"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    <% end %>

    <%# comments %>

    <% if user_signed_in?  %>
   <div class="container-comments-attraction">
      <h2 class="comments-attraction-title">Avis des participants</h2>

      <div class="comments-attraction">
        <% comments = Comment.all.where(attraction_id: @attraction.id) %>
        <% comments.each do |comment| %>
          <div class="contain-avatar-content">
            <img src="<%= Avatar.find(User.find(comment.user_id).avatar_id).url %>" alt="Avatar user" class="avatar_comment-user">
            <div class="content_comment-user">
              <h3 class="id-comment"><%= User.find(comment.user_id).identifiant %></h3>
              <%= comment.content %>
              <% if current_user.id === comment.user_id %>
                <%= link_to 'Supprimer', comment, method: :delete, :class => "delete-comment"  %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="contain-add-comment">
        <%= form_with url: "/comments", method: :post do |form| %>

            <div class="field-comment">
              <%= form.label :content, 'Postez votre avis' %>
              <%= form.text_area :content, class: 'textarea-comment-attraction', rows: '5' %>
            </div>

            <%= form.hidden_field :user_id, :value => current_user.id %>
            <%= form.hidden_field :attraction_id, :value => @attraction.id %>

            <div class="actions">
            <button type="submit" value="Poster mon avis" class="btn">Poster mon avis</button>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>
  </div>
</section>