<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attraction.name %>
</p>

<p>
  <strong>Experience points:</strong>
  <%= @attraction.experience_points %>
</p>

<p>
  <strong>Maximum size:</strong>
  <%= @attraction.maximum_size %>
</p>

<p>
  <strong>Description:</strong>
  <%= @attraction.description %>
</p>

<p>
  <strong>Video presentation:</strong>
  <%= @attraction.video_presentation %>
</p>

<%= link_to 'Back', attractions_path %>
