<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attraction.name %>
</p>

<p>
  <strong>Experience points:</strong>
  <%= @attraction.experience_points %>
</p>

<p>
  <strong>Maximum size:</strong>
  <%= @attraction.maximum_size %>
</p>

<p>
  <strong>Description:</strong>
  <%= @attraction.description %>
</p>

<p>
  <strong>Video presentation:</strong>
  <%= @attraction.video_presentation %>
</p>

<p>
  <strong>Image:</strong>
  <% if @attraction.pictures.attached? %>
    <%= image_tag(@attraction.pictures[1], :style => "width: 100px") %>
  <% end %>
</p>

<%= link_to 'Back', attractions_path %>
