
<section>
  <div class="container-background">
    <div class="container-background-attraction">
      <%= image_tag "background-fighter-league.png", class: 'background-attraction' %>
      <%= image_tag(@attraction.pictures[0], class: 'icon-attraction') %>
    </div>
    <div class="containe-game">
      <div class="content-description">
        <h1 class="title-game-center"><%= @attraction.name %></h1>
        <h2 class="experience"><span>Gain XP : <%= @attraction.experience_points %> XP / partie</span><br> 
          <%= @attraction.maximum_size %></h2>
          <p class="content-text">
            <%= @attraction.description %>
          </p>
          <%= link_to static_pages_go_to_the_park_path, :class => "btn" do %>
            Preparer votre visite
          <% end %>
      </div>
      <div class="container-picture">
        <%= image_tag(@attraction.pictures[1]) %>
      </div>
    </div>
  </div>
</section>



<!-- 


  <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attraction.name %>
</p>

<p>
  <strong>Experience points:</strong>
  <%= @attraction.experience_points %>
</p>

<p>
  <strong>Maximum size:</strong>
  <%= @attraction.maximum_size %>
</p>

<p>
  <strong>Description:</strong>
  <%= @attraction.description %>
</p>

<p>
  <strong>Video presentation:</strong>
  <%= @attraction.video_presentation %>
</p>

<p>
  <strong>Image:</strong>
  <% if @attraction.pictures.attached? %>
    <%= image_tag(@attraction.pictures[1], :style => "width: 100px") %>
  <% end %>
</p>

<%= link_to 'Back', attractions_path %>
-->