
<section>
  <div class="container-background">
    <div class="container-background-attraction">
      <%= image_tag "background-fighter-league.png", class: 'background-attraction' %>
      <%= image_tag(@attraction.pictures[0], class: 'icon-attraction') %>
    </div>
    <div class="containe-game">
      <div class="content-description">
        <h1 class="title-game-center"><%= @attraction.name %></h1>
        <h2 class="experience"><span>Gain XP : <%= @attraction.experience_points %> XP / partie</span><br> 
          <%= @attraction.conditions %></h2>
          <p class="content-text">
            <%= @attraction.description %>
          </p>
          <%= link_to static_pages_go_to_the_park_path, :class => "btn" do %>
            Preparer votre visite
          <% end %>
      </div>
      <div class="container-picture">
        <%= image_tag(@attraction.pictures[1]) %>
      </div>
    </div>

    <% if @attraction.video_presentation != '' %>
      <div class="attraction-video-wrapper">
        <div class="attraction-video-title-container">
          <h2 class="attraction-video-title yellow-highlight">
            PREPAREZ VOUS,<br />
            A TRAVERS UNE VIDEO DE PRESENTATION
          </h2>
        </div>

        <div class="youtube-video-container">
          <iframe
            class="attraction-youtube-video"
            src="<%= @attraction.video_presentation %>"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>

    <% end %>
  </div>
</section>